{% extends "base.html" %}

{% block content %}
<h2>Registrar Pago</h2>

<form method="post">
    <label for="cliente_id">Cliente:</label><br />
    <select id="cliente_id" name="cliente_id" required>
        {% for cliente in clientes %}
        <option value="{{ cliente[0] }}">{{ cliente[1] }}</option>
        {% endfor %}
    </select><br /><br />

    <label for="monto">Monto a Pagar (en Gs.):</label><br />
    <input type="number" id="monto" name="monto" step="0.01" required /><br /><br />

    <button type="submit">Registrar Pago</button>
</form>
{% endblock %}
